RewriteEngine On

# Do not rewrite requests going to specific doc versions
RewriteCond %{REQUEST_URI} !^/pds4_tools_docs/(.*)/

# Do not rewrite requests going to index (so users can see other versions)
RewriteCond %{REQUEST_URI} !^/pds4_tools_docs/$

# Rewrite to go to latest doc folder
RewriteRule ^(.*)$ /pds4_tools_docs/current/ [QSA,L,R=302]

# Show index (so users can see other versions)
Options +Indexes

# Cache for a max of 1 day
<filesMatch ".(html|htm)$">
  Header set Cache-Control "max-age=14400, must-revalidate"
</filesMatch>
